node_modules
.next
build
.gradle
coverage
pnpm-lock.yaml
apps/android/local.properties
apps/android/**/build
packages/contracts/generated
packages/contracts/dist
packages/db/src/generated
packages/db/dist
